<%- include('./partials/header') %>

  <div class="flex flex-wrap justify-center items-center bg-[#f5cb5c] p-12 space-x-4">
    <% projects.forEach(project => { %>
      <div class="block border-2 border-[#333533] bg-[#333533] rounded-lg p-10 m-6 max-w-xl w-xl min-h-[350px] max-h-[350px] overflow-scroll">
      <h2 class="text-3xl underline font-bold font-mono text-[#e8eddf] mb-2"><%= project.title %></h2>
      <p class="text-xl text-[#e8eddf] mb-4"><%= project.description %></p>
      <p class="text-[#e8eddf] font-semibold">Technologies:</p>
      <ul class="text-[#e8eddf] mb-4">
        <% project.technologies.forEach(tech => { %>
        <li><%= tech %></li>
        <% }) %>
      </ul>
      <a href=<%= project.link %> class=" text-[#e8eddf] underline">View Project</a>
      </div>
    <% }) %>
  </div>

<%- include('./partials/footer') %>